@page "/"
@layout MainLayout

<div class="container">
<div class="body-nav1">
    <div class="body-nav">
        <div class="nav-superior">
            <img src="/img/carroicon.png" alt="img" />
            <h1>Grupo de Carros</h1>
        </div>
        <div class="nav-inferior">
            <input type="text" class="input1" placeholder="Digite o local de retirada" />
            <input class="input2" type="date" />
            <input type="time" />
        </div>
    </div>
</div>
<img class="back-body" src="/img/backlocaliza.png" alt="img" />
<div class="meio-body">
    <div class="div1">
        <img src="/img/cronometro.png" alt="img" />
        <div>
            <h1>Fast Retirada Digital</h1>
            <h2>Retire seu carro em até 5 minutos, sem enfrentar filas.</h2>
        </div>
    </div>
    <div class="div1">
        <img src="/img/carroperson.png" alt="img" />
        <div>
            <h1>Adicionais</h1>
            <h2>Pra que sua viagem seja ainda mais simples e prazerosa!</h2>
        </div>
    </div>
    <div class="div1">
        <img src="/img/person.png" alt="img" />
        <div>
            <h1>Portal de Dúvidas</h1>
            <h2>Tudo que você precisa, em um só lugar.</h2>
        </div>
    </div>
</div>
<div class="body-carousel">
    <input type="radio" name="position" />
    <input type="radio" name="position" checked />
    <input type="radio" name="position" />
    <main id="carousel">
        <div class="item">
            <img src="/img/carrobranco.png" alt="img" />
            <h1>MAZDA DEMIO</h1>
            <p>2008/91,340CC AUTOMÁTICO GASOLINA</p>
        </div>
        <div class="item">
            <img src="/img/carropreto.png" alt="img" />
            <h1>TOYOTA LAND CRUISER PRADO</h1>
            <p>3.0 4X4 TURBO INTERCOOLER DIESEL 4P AUTOMÁTICO</p>
        </div>
        <div class="item">
            <img src="/img/carrocinza.png" />
            <h1>NISSAN PATHFINDER</h1>
            <p>2.5 SE 4X4 TURBO INTERCOOLER DIESEL 4P AUTOMÁTICO</p>
        </div>
    </main>
</div>
<div class="div-butao">
    <button><a class="botaohome" href="/automotivos">CONFIRA TODOS OS AUTOMOTIVOS</a></button>
</div>
<div class="app">
    <img src="/img/app.png" alt="img" />
    <div class="texto-app">
        <h1>Utilize o aplicativo e ganhe pontos no Locar&Track Fidelidade!</h1>
        <div>
            <img style="margin-bottom: -15px;" src="/img/apple.png" />
            <img src="/img/google.png" />
        </div>
        <p>Siga-nos nas Redes Sociais!</p>
        <div>
            <img src="/img/facebook.png" />
            <img src="/img/twitter.png" />
            <img src="/img/linkedin.png" />
            <img style="margin-bottom: -6px;" src="/img/youtube.png" />
            <img src="/img/intagram.png" />
        </div>
    </div>
</div>
</div>