@page "/reservas"
@layout MainLayout

<div class="body-nav1">
        <div class="body-nav">
            <div class="nav-superior">
                <img src="/img/carroicon.png" alt="img"/>
                <h1>Grupo de Carros</h1>
            </div>
            <div class="nav-inferior">
                <input type="text" class="input1" placeholder="Digite o local de retirada"/>
                <input class="input2" type="date"/>
                <input type="time"/>
            </div>
        </div>
    </div>
    <div class="linha"></div>
    <div class="linha2"></div>
    <div class="consultarbody">
        <div class="consultarbody1">
        <h1>Consultar Reservas</h1>
        <p>Entre com o código e o CPF para consultar suas reservas.</p>
        <div class="loginemail">
            <input type="text" placeholder="Número do CPF *"/>
            <input type="text" placeholder="Código da Reserva *"/>
        </div>
        <div class="botaoentrar">
            <button class="confirmar2">Confirmar</button>
        </div>
        </div>
    </div>