<div class="bodybottom">
    <div class="loginbody">
        <img class="logopreta" src="/img/logopreta.png" />
        <div class="entrartx">
            <div class="linha"></div>
            <p>Entrar com</p>
            <div class="linha"></div>
        </div>
        <div class="Botoes">
            <div class="logos">
                <button>
                    <img src="/img/googlelogo.png" />
                    Google
                </button>
            </div>
            <div class="logos">
                <button>
                    <img src="/img/applelogo.png" />
                    Apple
                </button>
            </div>
            <div class="logos">
                <button>
                    <img src="/img/emaillogo.png" />
                    Email ou CPF
                </button>
            </div>
        </div>
        <div class="loginemail">
            <input type="email" placeholder="Email ou CPF *" />
            <input type="password" placeholder="Senha *" />
        </div>
        <div class="checkbox">
            <div class="checkboxtexto">
                <input type="checkbox" />
                <p>Manter Conectado</p>
            </div>
            <p>Esqueci a Senha</p>
        </div>
        <div class="botaoentrar">
            <button class="Entrar">Entrar</button>
        </div>
        <a href="/pages/cadastro.html">Ainda não tenho cadastro</a>
    </div>
</div>

@code {

}
