@inherits LayoutComponentBase

<main>
    <div class="menu-nav">
        <img src="/img/logo.png" alt="img">
        <div class="menu-direito">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/reservas">Minhas Reservas</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
    @Body
    <div class="rodape">
        <div class="rodape-esquerda">
            <img src="/img/logo.png" />
            <ul class="rodape-text1">
                <li>Aluguel de Carros /</li>
                <li>Grupo de Carros /</li>
                <li>Ofertas /</li>
                <li>Rede de Agencias</li>
            </ul>
            <ul class="rodape-text1">
                <li>Locar&Track Aluguel Mensal Flex /</li>
                <li>Terceirização de Frotas /</li>
                <li>Benefícios Locar&Track /</li>
                <li>Aluguel Coorporativo</li>
            </ul>
            <ul class="rodape-text2">
                <li>Rede de Agências  Dicas de Viagens Ofertas</li>
                <li>Informações ao consumidor: Locar&Track Rent a Car S/A - CNPJ nº 16.670.085/0001-55</li>
                <li>Sede: Avenida Bernardo Vasconcelos, n° 377 - Cachoeirinha - CEP: 31.150-000 - Belo Horizonte - MG</li>
                <li>Central de Reservas e Assistência a Clientes: 0800 979 2020</li>
                <li>E-mail: centraldereservas@locar&track.com</li>
                <li>Argentina Brasil Colômbia Equador México Paraguai Uruguai Outros</li>
                <li><a href="">Termos de uso Portal da privacidade</a></li>
            </ul>
            <ul>
                <li><a href="">Contrato de Aluguel de Carros</a></li>
                <li>Configurações de cookies</li>
            </ul>
            <ul class="rodape-text">
                <li>© Locar&Track - Todos direitos reservados</li>
            </ul>
        </div>
        <div class="rodape-direita">
            <img src="/img/carrorodape.png" alt="img" />
        </div>
    </div>

</main>